<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 fttpcol-1 md-mobile sm-mobile">
                    <h3>Devinision</h3>
                    <p>Lorem ipsum haha hihi</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fttpcol-2 md-mobile sm-mobile">
                    <h3>Our Products</h3>
                    <ul>
                        <li><a href="#">Seeds</a></li>
                        <li><a href="#">Plants</a></li>
                        <li><a href="#">Fertilizer (Coming Soon)</a></li>
                        <li><a href="#">Accessories (Coming Soon)</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fttpcol-3 md-mobile sm-mobile">
                    <h3>Social Media</h3>
                    <h6>Follow us</h6>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 fttpcol-4 md-mobile sm-mobile">
                    <h3>Contact</h3>
                    <ul>
                        <li><i class="fa fa-home mr-3"></i>Jakarta, Matraman</li>
                        <li><i class="fa fa-envelope mr-3"></i>dadicharisma@gmail.com</li>
                        <li><i class="fa fa-phone-square mr-3"></i>08978420402</li>
                    </ul>
                    
                    <h5>Newsletters</h5>
                    <form action="">
                        <input type="email" placeholder="YOUR EMAIL">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="footer-bottom-text">copyright</p>
</footer>
